In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
KKR = {'Name':['Dinesh karthik','Andre Russell','Shivam Mavi','Sandeep Warrier','Kuldeep Yadav',
              'Eoin Morgan','Pat Cummins','Harry Gurney','Sunil Narine','Kamlesh Nagarkoti',
              'Nikhil Naik','M Siddharth','Lockie Ferguson','Nitish Rana','Subhman Gill',
              'Prasidh Krishna','Rinku Singh','Siddesh Lad','Rahul Tripathi','Varun Chakravarthy',
              'Chris Green','Tom Banton','Ali Khan'],
      'Salary in cr':[7.4,7,3,0.2,5.8,
                     5.25,15.5,0.75,8.5,3.2,
                     0.2,0.2,1.6,3.4,1.8,
                     0.2,0.8,0.2,0.6,4,
                     0.2,1,0.2],
      'Matches':[182,64,9,3,40,
                52,16,8,110,0,
                3,0,9,46,27,
                18,9,1,34,1,
                0,0,0],
      'Notouts':[28,10,1,0,4,
                5,4,1,13,0,
                0,0,1,3,9,
                2,1,1,4,0,
                0,0,0],
      'Runs':[3654,1400,13,0,44,
             854,77,1,771,0,
             30,0,1,1085,499,
             1,66,15,758,0,
             0,0,0],
      'Avg':[27.07,33.33,4.33,0,8.8,
            21.35,12.83,0,17.52,0,
            10,0,0,28.55,33.27,
            1,11,15,26.14,0,
            0,0,0],
       'Strike Rate':[129.8,186.42,86.67,0,81.48,
                     121.13,140,20,168.34,0,
                     63.83,0,100,134.62,132.36,
                     14.29,101.54,115.38,137.32,0,
                     0,0,0],
      'High Score':[97,88,7,0,16,
                   66,24,1,75,0,
                   22,0,1,85,76,
                   1,30,15,93,0,
                   0,0,0],
       '100 s':[0,0,0,0,0,
               0,0,0,0,0,
               0,0,0,0,0,
               0,0,0,0,0,
               0,0,0],
      '50 s':[18,8,0,0,0,
             4,0,0,3,0,
             0,0,0,8,4,
             0,0,0,4,0,
             0,0,0],
      '4 s':[357,96,1,0,4,
            72,5,0,93,0,
            2,0,0,84,43,
            0,5,1,74,0,
            0,0,0],
      '6 s':[101,120,0,0,0,
            34,4,0,44,0,
            0,0,0,60,15,
            0,2,1,27,0,
            0,0,0],
      'Overs':[0,173.1,28,12,137.2,
              0,60.1,27,426.1,0,
              0,0,30,15.1,0,
              68.2,0,0,1,3,
              0,0,0],
      'Maidens':[0,0,0,0,0,
                0,2,0,3,0,
                0,0,1,0,0,
                0,0,0,0,0,
                0,0,0],
      'Runs Conceded':[0,1538,270,85,1144,
                      0,499,238,2845,0,
                      0,0,276,119,0,
                      637,0,0,12,35,
                      0,0,0],
      'Wickets':[0,55,5,2,39,
                0,17,7,122,0,
                0,0,5,7,0,
                14,0,0,0,1,
                0,0,0],
      'Bowling Avg':[0,27.96,54,42.5,29.33,
                    0,29.35,34,23.32,0,
                    0,0,55.2,17,0,
                    45.5,0,0,0,35,
                    0,0,0],
      'Bowling StrikeRate':[0,18.89,33.6,36.0,21.13,
                           0,21.24,23.14,20.96,0,
                           0,0,36,13,0,
                           29.29,0,0,0,18,
                           0,0,0],
      'Econ':[0,8.88,9.64,7.08,8.33,
             0,8.29,8.81,6.68,0,
             0,0,9.2,7.85,0,
             9.32,0,0,12,11.67,
             0,0,0],
      '5 wkt Haul':[0,0,0,0,0,
                   0,0,0,1,0,
                   0,0,0,0,0,
                   0,0,0,0,0,
                   0,0,0]}
      
kkr = pd.DataFrame(KKR)
kkr

,Name,Salary in cr,Matches,Notouts,Runs,Avg,Strike Rate,High Score,100 s,50 s,4 s,6 s,Overs,Maidens,Runs Conceded,Wickets,Bowling Avg,Bowling StrikeRate,Econ,5 wkt Haul
0,Dinesh karthik,7.40,182,28,3654,27.07,129.80,97,0,18,357,101,0.0,0,0,0,0.00,0.00,0.00,0
1,Andre Russell,7.00,64,10,1400,33.33,186.42,88,0,8,96,120,173.1,0,1538,55,27.96,18.89,8.88,0
2,Shivam Mavi,3.00,9,1,13,4.33,86.67,7,0,0,1,0,28.0,0,270,5,54.00,33.60,9.64,0
3,Sandeep Warrier,0.20,3,0,0,0.00,0.00,0,0,0,0,0,12.0,0,85,2,42.50,36.00,7.08,0
4,Kuldeep Yadav,5.80,40,4,44,8.80,81.48,16,0,0,4,0,137.2,0,1144,39,29.33,21.13,8.33,0
5,Eoin Morgan,5.25,52,5,854,21.35,121.13,66,0,4,72,34,0.0,0,0,0,0.00,0.00,0.00,0
6,Pat Cummins,15.50,16,4,77,12.83,140.00,24,0,0,5,4,60.1,2,499,17,29.35,21.24,8.29,0
7,Harry Gurney,0.75,8,1,1,0.00,20.00,1,0,0,0,0,27.0,0,238,7,34.00,23.14,8.81,0
8,Sunil Narine,8.50,110,13,771,17.52,168.34,75,0,3,93,44,426.1,3,2845,122,23.32,20.96,6.68,1
9,Kamlesh Nagarkoti,3.20,0,0,0,0.00,0.00,0,0,0,0,0,0.0,0,0,0,0.00,0.00,0.00,0
10,Nikhil Naik,0.20,3,0,30,10.00,63.83,22,0,0,2,0,0.0,0,0,0,0.00,0.00,0.00,0
11,M Siddharth,0.20,0,0,0,0.00,0.00,0,0,0,0,0,0.0,0,0,0,0.00,0.00,0.00,0
12,Lockie Ferguson,1.60,9,1,1,0.00,100.00,1,0,0,0,0,30.0,1,276,5,55.20,36.00,9.20,0
13,Nitish Rana,3.40,46,3,1085,28.55,134.62,85,0,8,84,60,15.1,0,119,7,17.00,13.00,7.85,0
14,Subhman Gill,1.80,27,9,499,33.27,132.36,76,0,4,43,15,0.0,0,0,0,0.00,0.00,0.00,0
15,Prasidh Krishna,0.20,18,2,1,1.00,14.29,1,0,0,0,0,68.2,0,637,14,45.50,29.29,9.32,0
16,Rinku Singh,0.80,9,1,66,11.00,101.54,30,0,0,5,2,0.0,0,0,0,0.00,0.00,0.00,0
17,Siddesh Lad,0.20,1,1,15,15.00,115.38,15,0,0,1,1,0.0,0,0,0,0.00,0.00,0.00,0
18,Rahul Tripathi,0.60,34,4,758,26.14,137.32,93,0,4,74,27,1.0,0,12,0,0.00,0.00,12.00,0
19,Varun Chakravarthy,4.00,1,0,0,0.00,0.00,0,0,0,0,0,3.0,0,35,1,35.00,18.00,11.67,0
20,Chris Green,0.20,0,0,0,0.00,0.00,0,0,0,0,0,0.0,0,0,0,0.00,0.00,0.00,0
21,Tom Banton,1.00,0,0,0,0.00,0.00,0,0,0,0,0,0.0,0,0,0,0.00,0.00,0.00,0
22,Ali Khan,0.20,0,0,0,0.00,0.00,0,0,0,0,0,0.0,0,0,0,0.00,0.00,0.00,0

In [41]:
# from sklearn.datasets import fetch_openml
# mnist = fetch_openml('mnist_784',version=1,cache=True)
# mnist

In [51]:
kkr.to_csv('KKR.csv', index=False)