In [2]:
import numpy as np
import pandas as pd

In [62]:
MI={'Name':['Anmolpreet Singh','Rohit Sharma','Suryakumar Yadav','Hardik Pandya',
            'Kieron Pollard','Krunal Pandya','Ishan Kishan','Quinton de Kock',
           'Jasprit Bumrah','Jayant Yadav','Lasith Malinga','Mitchell McClenaghan',
           'Rahul Chahar','Aditya Tare','Ankul Roy','Sherfane Rutherford',
            'Dhawal Kulkarni','Trent Boult','Saurabh Tiwary','Nathan Coulter-Nile',
            'Chris Lynn','Mohsin Khan','Prince Balwant','Digvijay Deshmukh'
           ],
            
   'Salary in cr':[0.8,15,3.2,11,
                   5.4,8.8,6.2,2.8,
                   7,0.5,2,1,
                   1.9,0.2,0.2,2,
                  0.75,3.2,0.5,8,2,
                  0.2,0.2,0.2],
   'Matches':[0,188,85,66,
              148,55,37,50,
              77,12,122,56,
              16,35,1,7,
             90,33,81,26,41,
             0,0,0],
   'Notouts':[0,28,16,24,
              39,14,0,2,
              9,0,9,11,
              3,4,0,2,
             12,3,19,4,3,
             0,0,0],
   'Runs':[0,4898,1544,1068,
           2755,891,695,1456,35,6,88,85,15,339,0,73,
          101,12,1276,52,1280,
          0,0,0],
   'Avg':[0,31.60,28.07,28.86,28.69,26.20,21.06,30.33,11.66,3,5.5,6.53,7.50,14.12,0,14.6,
         11.22,6,28.35,5.77,33.68,
         0,0,0],
    
   'S/R':[0,130.82,131.62,154.78,146.77,146.06,130.88,131.28,92.10,60,88.88,121.42,115.38,124.17,0,135.18,
         95.28,85.71,119.58,104,140.66,
         0,0,0],
   'High Score':[0,109,72,91,83,86,62,108,16,5,17,20,10,59,0,28,
                28,6,61,9,93,
                0,0,0],
   '100s':[0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,
          0,0,0,0,0,
          0,0,0],
   '50s':[0,36,7,3,14,1,3,10,0,0,0,0,0,0,0,0,
         0,0,7,0,10,
         0,0,0],
    '4s':[0,431,160,72,181,86,64,155,2,0,6,5,2,40,0,2,
         7,0,93,3,128,0,0,0],
   '6s':[0,194,47,68,176,35,34,54,1,0,5,7,0,11,0,7,
        2,1,45,4,63,
        0,0,0],
   'Overs':[0,55.2,1,144.5,199.5,157.2,0,0,288.4,37,471.1,212.2,54,0,2,6.5,
           290.5,127.3,0,93.5,0,
           0,0,0],
   'Maidens':[0,0,0,0,0,0,0,0,3,0,8,1,0,0,0,0,
             8,1,0,1,0,
             0,0,0],
   'Runs conceded':[0,440,8,1313,1770,1128,0,0,2183,246,3365,1803,366,0,11,59,
                   2404,1120,0,719,0,
                   0,0,0],
   'Wickets':[0,15,0,42,56,40,0,0,82,5,170,71,15,0,1,1,
             86,38,0,36,0,
             0,0,0],
   'Bowling Avg':[0,29.33,0,31.26,31.60,28.20,0,0,26.62,49.20,19.76,25.39,24.40,0,11,59.0,
                 27.95,29.47,0,19.97,0,
                 0,0,0],
   'Bowling S/R':[0,22.13,0,20.69,21.41,23.60,0,0,21.12,44.40,16.62,17.96,21.60,0,12,41.0,
                 20.29,20.13,0,15.64,0,
                 0,0,0],
   'Econ':[0,7.95,8.0,9.06,8.85,7.16,0,0,7.56,6.64,7.14,8.49,6.77,0,5.5,8.63,
          8.27,8.78,0,7.66,0,
          0,0,0],
   
    '5 Wkt Haul':[0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0]}

In [63]:
mi=pd.DataFrame(MI)
mi

,Name,Salary in cr,Matches,Notouts,Runs,Avg,S/R,High Score,100s,50s,4s,6s,Overs,Maidens,Runs conceded,Wickets,Bowling Avg,Bowling S/R,Econ,5 Wkt Haul
0,Anmolpreet Singh,0.80,0,0,0,0.00,0.00,0,0,0,0,0,0.0,0,0,0,0.00,0.00,0.00,0
1,Rohit Sharma,15.00,188,28,4898,31.60,130.82,109,1,36,431,194,55.2,0,440,15,29.33,22.13,7.95,0
2,Suryakumar Yadav,3.20,85,16,1544,28.07,131.62,72,0,7,160,47,1.0,0,8,0,0.00,0.00,8.00,0
3,Hardik Pandya,11.00,66,24,1068,28.86,154.78,91,0,3,72,68,144.5,0,1313,42,31.26,20.69,9.06,0
4,Kieron Pollard,5.40,148,39,2755,28.69,146.77,83,0,14,181,176,199.5,0,1770,56,31.60,21.41,8.85,0
5,Krunal Pandya,8.80,55,14,891,26.20,146.06,86,0,1,86,35,157.2,0,1128,40,28.20,23.60,7.16,0
6,Ishan Kishan,6.20,37,0,695,21.06,130.88,62,0,3,64,34,0.0,0,0,0,0.00,0.00,0.00,0
7,Quinton de Kock,2.80,50,2,1456,30.33,131.28,108,1,10,155,54,0.0,0,0,0,0.00,0.00,0.00,0
8,Jasprit Bumrah,7.00,77,9,35,11.66,92.10,16,0,0,2,1,288.4,3,2183,82,26.62,21.12,7.56,0
9,Jayant Yadav,0.50,12,0,6,3.00,60.00,5,0,0,0,0,37.0,0,246,5,49.20,44.40,6.64,0
10,Lasith Malinga,2.00,122,9,88,5.50,88.88,17,0,0,6,5,471.1,8,3365,170,19.76,16.62,7.14,1
11,Mitchell McClenaghan,1.00,56,11,85,6.53,121.42,20,0,0,5,7,212.2,1,1803,71,25.39,17.96,8.49,0
12,Rahul Chahar,1.90,16,3,15,7.50,115.38,10,0,0,2,0,54.0,0,366,15,24.40,21.60,6.77,0
13,Aditya Tare,0.20,35,4,339,14.12,124.17,59,0,0,40,11,0.0,0,0,0,0.00,0.00,0.00,0
14,Ankul Roy,0.20,1,0,0,0.00,0.00,0,0,0,0,0,2.0,0,11,1,11.00,12.00,5.50,0
15,Sherfane Rutherford,2.00,7,2,73,14.60,135.18,28,0,0,2,7,6.5,0,59,1,59.00,41.00,8.63,0
16,Dhawal Kulkarni,0.75,90,12,101,11.22,95.28,28,0,0,7,2,290.5,8,2404,86,27.95,20.29,8.27,0
17,Trent Boult,3.20,33,3,12,6.00,85.71,6,0,0,0,1,127.3,1,1120,38,29.47,20.13,8.78,0
18,Saurabh Tiwary,0.50,81,19,1276,28.35,119.58,61,0,7,93,45,0.0,0,0,0,0.00,0.00,0.00,0
19,Nathan Coulter-Nile,8.00,26,4,52,5.77,104.00,9,0,0,3,4,93.5,1,719,36,19.97,15.64,7.66,0
20,Chris Lynn,2.00,41,3,1280,33.68,140.66,93,0,10,128,63,0.0,0,0,0,0.00,0.00,0.00,0
21,Mohsin Khan,0.20,0,0,0,0.00,0.00,0,0,0,0,0,0.0,0,0,0,0.00,0.00,0.00,0
22,Prince Balwant,0.20,0,0,0,0.00,0.00,0,0,0,0,0,0.0,0,0,0,0.00,0.00,0.00,0
23,Digvijay Deshmukh,0.20,0,0,0,0.00,0.00,0,0,0,0,0,0.0,0,0,0,0.00,0.00,0.00,0

In [64]:
mi.to_csv('MI.csv', index=False)